.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    overflow: hidden;
    padding: 0px 10px;
}
.loader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 10px;
    margin-top: 70px;
    
}
.top-p-info{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.user{
    display: flex;
    gap: 5px;
    align-items: center;
}
.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.name{
color: #592EA9;
font-weight: 700;
margin-bottom: 2px;
}
.date{
    font-size: 12px;
}

.post-headline{
    font-weight: 700;
    font-size: 25px;
}
.post-category{
    width: 100px;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.pc-icon{
    width: 25px;
    height: 25px;
    
}
.middle-p-img{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
}
.post-img{
  width: 100%;
   height: 400px;
}
.bottom-p-desc{
    width: 100%;
    max-width: 900px;
    margin-top: 50px;
    text-align: justify;

}
.next-to-read{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}
.ntr-headline{
    font-size: 20px;
    font-weight: 600;
    
    margin-bottom: 20px;
   
}
.next-posts{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.n-post{
    width: 300px;
    height: fit-content;
    
}
.np-img{
    width: 270px;
    height: 150px;

}
.np-headline{
    font-weight: 700;
    width: 270px;
    cursor: pointer;
}
.np-desc{
    width: 270px;
}

@media  screen and (max-width:1025px) {
    .middle-p-img{
        max-width: 800px;
    }
}

@media screen and (max-width:700px) {
    .post-container{
        margin: 0px;
    }
    .bottom-p-desc{
        font-size: 24px;
    }
    .next-posts{
       overflow: hidden;
    }
    .ntr-headline{
        font-size: 25px;
    }
    .np-headline{
        font-size: 22px;
    }
}