
.post-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2400px;
    
    background-color:black;
    position: relative;
    top: 310px;
   
}
.search-post{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #33415c;
}
.search-bar{
    display: flex;
    gap: 10px;
}
.search-input{
    width: 200px;
    height: fit-content;
    padding: 10px 10px;
}
.search-btn{
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.search-selectors{
    display: flex;
}
.search-selector{
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    color: white;
    gap: 5px;
}
.all-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    margin-top: 50px;
    gap: 20px;
    z-index: 1;
    
}

.all-posts-post{
    width: 100%;
    max-width: 700px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 10px 10px;
    border: 2px solid #343a40;
    border-radius: 10px;
     
    gap: 20px;
}
.all-posts-post-details{
    display: flex;
    flex-direction: column;
    
    margin: auto;
    width: 95%;
    padding: 10px 10px;
    border-radius: 10px;
    
    gap: 10px;
}
.user-details{
    display: flex;
    gap: 5px;
    width: fit-content;
    background-color: #edede9;
    border-radius: 10px;
    padding: 5px 10px;
    
}
.user-pic{
    width: 40px;
    height: 40px;
}
.user-name{
    color: rgb(84, 169, 198);
    margin-top: 12px;
}
.tag{
    color: #3a86ff;
}

.all-posts-post-description{
    display: flex;
    gap: 5px;
}
.all-posts-post-file{
    width: 100%;
    max-width: 700px;
    height: 450px;
}
.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
   background-color: #edede9;
   color: white;
}


.p-like-comment{
    display: flex;
    gap: 15px;
    color: white;
   
}
.p-like{
    display: flex;
    gap: 5px;
    border: 1px solid rgb(0, 170, 255);
    border-radius: 10px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}
.p-comment{
    display: flex;
    gap: 5px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px 8px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

@media screen and (max-width:870px) {
.all-posts-post{
max-width: 600px;
    }

}

@media screen and (max-width:700px) {
   .all-posts-post{
    max-width: 500px;
   }
    
}
@media  screen and (max-width:560px) {
    .post-container{
        top: 200px;
    }
    .all-posts-post-file{
        max-width: 350px;
        height: 350px;
        margin: auto;
    }
    .all-posts-post{
        height: 510px;
        max-width: 350px;
        padding: 10px 10px;
    }
    .search-post{
        flex-direction: column;
        gap: 10px;
    }
    
   
}