.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.l-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    max-width: 600px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #495057;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.formItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 300px;
}

.input {
    width: 100%;
    max-width: 300px;
    height: 20px;
    padding: 8px 3px;
    font-size: 16px;
    border-radius: 10px;
}

.l-btn {
    height: 30px;
    width: 200px;
    border: 2px solid #ff7d00;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}

.l-btn:hover {
    background-color: #ff7d00;
    border: 2px solid white;
}
.to-signup{
    color: rgb(0, 119, 255);
}