
.h-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    padding: 10px 0px;
    margin-top: -10px;
    color: white;
    background-color:transparent ;
    height: 70px;
}

.h-top-left {
    display: flex;
    gap: 10px;
    width: fit-content;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 15px;
}



.title {
    margin-top: 8px;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    
}

.h-top-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 7px 7px;
    gap: 20px;
    text-shadow:  0 0 3px rgba(12, 12, 12, 0.6);
    font-size: large;
}
.link{
    text-decoration: none;
   
}
.nav-login-btn1{
    background-color: white;
    color: black;
    width: fit-content;
    padding: 10px 10px;
    height: fit-content;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.nav-profile-btn2{
    background-color: white;
    color: black;
    width: fit-content;
    padding: 5px 5px;
    height: fit-content;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


@media screen and (max-width:700px) {
    .h-top-right{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 200px;
        padding: 7px 7px;
        gap: 5px;
        font-size: large;
        position: relative;
        right: -500px;
        
    }
    .toggle-menu{
        transition-property: right 2 ease-in-out;
        right:-50px;
        top:80px;
        
    }
}
