

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
}

.s-container {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: white;
    width: 100%;
    max-width: 700px;
    height: 500px;
    padding-right: 10px;
}

.sc-left {
    width:fit-content;
    height: inherit;
}

.sc-right{
    width: 300px;
}
.sc-right-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scr-heading-1{
    font-size: 32px;
    font-weight: 700;
    color: #38302e;
}
.scr-heading-2{
    font-size: 28px;
    font-weight: 700;
    color: #38302e;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.sc-left-img {
    width: 100%;
    max-width: 400px;
    height: inherit;
}

.inputItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    gap: 4px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 10px;
}

.s-input {
    width: 100%;
    max-width: 330px;
    height: 20px;
    padding: 7px 3px;
    font-size: 15px;
    border-radius: 25px;
    outline: none;
}

.s-btn {
    height: 40px;
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
    margin: auto;
    background-color: black;
    color: white;
}

.s-btn:hover {
    background-color: #6f6866;

}

.link-to-login {
    color: rgb(0, 119, 255);
}