.home-container{
   
    width: 100%;
    min-height: 100vh;
    max-width: 130%;
    
    
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 190px;
    background-color: black;
}
.divider{
    width: 100%;
    border: 1px solid white;
    margin-top: 30px;
}

@media  screen and (max-width:600px) {
    .footer{
        top: 190px;
    }
}