.home-container{
   
    width: 100%;
    min-height: 100vh;
    max-width: 130%;
    padding-bottom: 40px;
    background-image: url("../../assets/background-2.jpg");
    
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 190px;
    background-image: url("../../assets/background-2.jpg");
}


@media  screen and (max-width:600px) {
    .footer{
        top: 190px;
    }
}