.f-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    transform: translateY(100px);
    color: white;
    margin-top: 80px;
    padding: 20px 0px;
    gap: 20px;
    margin: auto;
    background-color: #232536;
    position: relative;
}

.title-section{
    display: flex;
    width: 85%;
    justify-content: space-between;
}
.menu-section{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.subscribe-section{
    display: flex;
    width: 100%;
    max-width: 940px;
    justify-content: space-between;
    background-color: #272832;
    color: white;
    height: fit-content;
    padding: 60px 50px;
    border-radius: 10px;
}
.subscribe-headline{
    font-size: 25px;
    font-weight: 400;
    width: 400px
}
.subscribe-input{
    display: flex;
    gap: 10px;
}
.email-input{
    background-color: transparent;
    color: white;
    height: fit-content;
    border: 1px solid black;
    outline: none;
    padding: 11px 10px;
}
.si-btn{
    width: 150px;
    height: 40px;
    background-color:#FFD050 ;
    border: none;
}
.social-media-section{
    display: flex;
    width: 85%;
    justify-content: space-between;
}
.social-media{
    display: flex;
    gap: 20px;
}

@media screen and (max-width:1025px) {
    .f-container{
        padding: 20px 0px;
    }
   .subscribe-section{
    justify-content: center;
    gap: 20px;
   padding: 20px 0px;
   }
   .subscribe-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
   }
}
@media screen and (max-width:700px) {
    .f-container{
        
    }
    .subscribe-section{
        flex-direction: column;
        width: 350px;
    }
    .subscribe-headline{
        width: 330px;
    }
}