
.create-post-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 900px;
    height: fit-content;
    margin-top: 20px;
    padding: 10px 10px;
  
}
.inputs label{
    margin-left: 10px;
}
.cp-inputs{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width:100%;

   
}
.topic-input{
   height: 35px;
  
   font-size: 15px;
   outline: none;
   padding: 5px 5px;
   
}
.cat-input{
    display: flex;
    cursor: pointer;
    gap: 10px;
    height: 40px;
    align-items: center;
   border: 1px solid black;
   font-size: 15px;
   outline: none;
   padding: 5px 5px;
   position: relative;
   
}
.cat-item{
    width: fit-content;
    height: fit-content;
    padding: 8px 8px;
    border-radius: 10px;
    box-shadow:inset 0px 0px  4px rgb(136, 136, 136);
    cursor: pointer;
}
.cat-item:hover{
    scale:1.1;
}
.selected-cat-item{
    border: 1px solid skyblue;
    box-shadow: inset 0px 0px  5px skyblue;
}
.description{
    height:fit-content;
    border-radius: 10px;
   font-size: 15px;
   outline: none;
   padding: 5px 5px;
   
}
textarea{
    height: 400px;
}
.btn-container{
    display: flex;
    gap: 10px;
}
.upload-btn{
    width: 200px;
    padding: 5px 5px;
    height: 40px;
    background-color:black;
    border: none;
    cursor: pointer;
    color: white;
    
}

.cancel-btn{
    width: 200px;
    padding: 5px 5px;
    height: 40px;
    border:2px solid #f8cb69 ;
    cursor: pointer;
    
}