.h-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2400px;
    background-color: #6c757d;
    z-index: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.h-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.h-top-left {
    display: flex;
    gap: 10px;
    width: fit-content;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 15px;
}



.title {
    margin-top: 8px;
    font-family: "Rubik Moonrocks", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.h-top-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    padding: 7px 7px;
    gap: 20px;
    
}

.not-user {
    display: flex;
    gap: 10px;
}

.btn-sign,
.btn-login {
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #ced4da;
}

.user {
    display: flex;
    gap: 2px;
    width: fit-content;
    height: fit-content;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    ;
    background-color: aqua;
    z-index: 2;
}

.user-username {
    min-width: 40px;
    display: flex;
    justify-content: flex-end;
    height: 20px;
    padding: 10px 10px;
    padding-left: 50px;
    margin-top: 10px;
    border: 2px solid black;
    position: relative;
    left: -50px;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
}

.noNewPost {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    top: 100px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #e5e5e5;
    width: 100%;
    max-width: 500px;
    height: 170px;
    padding: 15px 5px;
}

.noPost-postSection {
    display: flex;
    gap: 10px;
}

.noPost-postSection img {
    width: 60px;
    height: 60px;
}

.newPostUpdater {
    width: 300px;
    height: fit-content;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 20px 10px;
    cursor: pointer;
}

.noPost-infoSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.infoItem {
    display: flex;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.infoItem img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.infoItem span {
    margin-top: 4px;
}


@media screen and (max-width:600px) {
    .noNewPost {
        max-width: 400px;
    }

    .newPostUpdater {
        max-width: 190px;
        padding: 10px 5px;
        margin-top: 10px;
    }

}

@media screen and (max-width:500px) {
    .noPost-infoSection {
        display: none;
    }

    .noNewPost {
        width: fit-content;
        height: fit-content;
    }



    .title {
        font-weight: 300;
        font-style: normal;
        font-size: 15px;
    }
    .user{

    }

    .circle {
        width: 40px;
        height: 40px;
        position: relative;
        left: -10px;
       
    }

    .user-username {
        display: flex;
        justify-content: flex-end;
        height: fit-content;
        width: fit-content;
        padding: 5px 5px;
        padding-left: 35px;
        margin-top: 5px;
        border: 2px solid black;
        position: relative;
        left: -45px;
        z-index: 1;
        border-radius: 10px;
        background-color: white;

    }
}