.posts-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 2400px;
    justify-content: center;
    align-items: center;
   
}
.header-section{
width: 100%;

}
.featured-post{
    display: flex;
    width: 100%;
    padding: 50px 0px;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F0F8;

}
.featured-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;
    width: 100%;
    max-width: 500px;
    padding: 0px 10px;
}
.featured-topic{
    font-weight: 800;
    font-size: 24px;
}
.featured-user{
    color: #592EA9;
    margin-left: 10px;
}
.featured-btn{
    width: 150px;
    height: 44px;
    background-color: #FFD050;
    border: none;
    cursor: pointer;
}
.featured-right{
    width: 100%;
    max-width: 500px;
}
.featured-img{
    width: 450px;
    height: 300px;
}
.posts-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    gap: 20px;
}
.post-status{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
   
}
.post-status-highlight{
    padding: 2px 10px;
    background-color: rgb(247, 192, 89);
    box-shadow: 0px 0px 5px rgb(144, 106, 36);
}
.ps-up-posts{
    width: 100%;
    display: flex;

}
.ps-posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
    color: black;
    
}


.upcoming-posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    color: black;
  
}

.ps-post{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
   
}
.ps-post-left{
    width: 100%;
    max-width: 500px;
    padding: 7px;
}
.ps-post-img{
    
    width: 470px;
    height: 250px;
}
.ps-post-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}
.ps-post-category{
    color: #592EA9;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
    background-color: rgb(232, 232, 232);
}
.ps-post-topic{
    font-size: 20px;
    font-weight: 760;
    cursor: pointer;
}
.uuc-single-post{
   
    width: 100%;
    max-width: 700px;
    padding: 5px 5px;
    border-radius: 10px;
   
}
.uuc-single-post:hover{
 background-color: bisque;
 transform:scale(1.05)
 
}
.uuc-post-headline{
    font-weight: 600;
    font-size: 20px;
    width: 100%;
}

.categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
}
.cat-heading{
    font-size: 24px;
}
.posts-all-cat{
    gap: 15px;
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.category{
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #96632d;
    cursor: pointer;
}
.category:hover{
    transform: scale(1.1);
}
.cat-icon1{
    width: fit-content;
    height: fit-content;
    padding: 1px 1px;
    background-color: #FBF6EA;
}
.icon1{
    width: 35px;
    height: 35px;
}
.cat-icon2{
    width: fit-content;
    height: fit-content;
    padding: 5px 5px;
    background-color: #FBF6EA;
}
.icon2{
    width: 25px;
    height: 25px;
}
.cat-icon3{
    width: fit-content;
    height: fit-content;
   
    background-color: #FBF6EA;
}
.icon3{
    width: 35px;
    height: 35px;
}
.cat-icon4{
    width: fit-content;
    height: fit-content;
    padding: 8px 8px;
    background-color: #FBF6EA;
}
.icon4{
    width: 20px;
    height: 20px;
}
.cat-name{
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width:1025px) {
    .featured-left{
        max-width: 400px;
    }
    .ps-post-right{
        max-width: 400px;
    }
    .ps-post-img{
        width: 400px;
    }
    .posts-all-cat{
        gap: 10px;
        grid-template-columns: 210px 210px 210px 210px;
    }
}
@media  screen and (max-width:860px) {
    .posts-all-cat{
        grid-template-columns: 27% 27% ;
        gap: 25px;
      
    }
}



@media screen and (max-width:700px) {
    .featured-post{
       flex-direction: column-reverse;
       align-items: center;
    }   
    .featured-right{
        width: fit-content;
    }
    .featured-left{
        width: 350px;
    }
    .featured-img{
        width: 100%;
        max-width: 400px;
    }
    .featured-btn{
        font-size: 20px;
    }
    .ps-posts{
        flex-direction: column;
        align-items: center;
        
    }
    .ps-post{
        flex-direction: column;
        align-items: center;
        gap: 0px;
        
    }
    .ps-post-left{
        width: fit-content;
    }

    .ps-post-right{
        width: 360px;
        gap: 8px;
    }
    .ps-post-img{
        width: 360px;
        margin: auto;
    }
    .posts-all-cat{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
    }
    .category{
        height: 220px;
        width: 350px;
    }
    .cat-name{
        font-size: 24px;
    }
    .cat-desc{
        font-size: 20px;
    }
   
    
   .toggleBtns{
    display: flex;
    gap: 15px;
   }
   .cat-np-btn{
    width: fit-content;
    height: fit-content;
    background-color: #FFD050;
    box-shadow: 0px 0px 4px ;
    border-radius: 10px;
    padding: 15px 15px;
    z-index: 2;
   }
    .post-shadow{
        width: fit-content;
        padding: 10px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgb(53, 53, 53);
    }
   }